.button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 10px;
  margin-top: 8px;
  border: none;
}
.button-primary {
  background-color: #B3A09D;
  color: #fff;
}
.button-primary:hover {
  background-color: #c2aca8;
  color: #fff;
}
.button-secondary {
  background-color: #888888;
  color: #fff;
}
.button-secondary:hover {
  background-color: #8f8f8f;
  color: #fff;
}